{% extends 'base.html' %}

{% block content %}
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="index.html">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">About</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<!-- title -->
				<div class="col-12">
					<div class="main__title">
						<div class="container">
							<h1>About Hare Krishna Vani</h1>

							<p>Srila Prabhupada – At various times people have called him a scholar, a philosopher, a cultural ambassador, a prolific author, a religious leader, a spiritual teacher, a social critic, and a holy man. In truth, he was all these things and more. <br>

								Over five hundred years ago, Lord Sri Krishna appeared as Sri Chaitanya Mahaprabhu in Navadvipa, a village in West Bengal. The purpose of His appearance was to inaugurate the Sankirtana Movement, the Yuga Dharma for this age of Kali. He declared that the chanting of His holy names would spread beyond the shores of India to every town and village in the world. He predicted that His commander-in-chief would appear to accomplish this mission. <br>
								
								Yes… Srila Prabhupada appeared to fulfill this prophecy. <br>
								
								On September 01, 1896, the day after Janmashtami (the auspicious appearance day of Lord Sri Krishna) in a little house in the Tollygunge suburb of Calcutta, a male child was born. His father, Gour Mohan De, and his mother Rajani, named him Abhay Charan (one who is fearless – having taken shelter at the lotus feet of Lord Krishna). <br>
								
								An astrologer prepared the horoscope for the baby and revealed: When this child reaches the age of seventy, he will cross the ocean, become a great teacher of religion and establish 108 Krishna temples. <br>
								
								And this is exactly what happened. <br>
								
								Srila Prabhupada set out to America in 1965 and established the International Society for Krishna Consciousness at the age of sixty-nine. He travelled around the world fourteen times, established more than 100 temples of Krishna and initiated more than 10000 disciples into Krishna consciousness.</p>
						</div>
					</div>
				</div>
				<!-- end title -->

	</main>
	<!-- end main content -->
{% endblock %}