{% extends 'base.html' %}

{% block content %}
<main class="main">
    <div class="container-fluid">
        <div class="row row--grid">
            <!-- breadcrumb -->
            <div class="col-12">
                <ul class="breadcrumb">
                    
                </ul>
            </div>
            <!-- end breadcrumb -->

            <!-- error -->
            <div class="col-12">
                <div class="page-404">
                    <div class="page-404__wrap">
                        <div class="page-404__content">
                            <h1 class="page-404__title" style="font-size: 50px !important;">Thank you</h1>
                            <p class="page-404__text">We will be replying you soon.</p>
                            <a href="/" class="page-404__btn">go back</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end error -->
        </div>
    </div>
</main>
{% endblock %}